{% load staticfiles %}

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.baidu.com" style="padding: 5px 15px">
                {#                头部引用了staticfiles 才能以下使用，不用硬编码#}
                <img src="{% static 'images/knowledgebase.jpg' %}" width="100px">
            </a>
        </div>

        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li>
                    <a href="{% url 'knowledge:know_title' %}">知识列表</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
                {% if user.is_authenticated %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <li><a href="{% url 'account:user_logout' %}">Logout</a></li>
                {% else %}
                    <li>
                        <a href="{% url 'account:user_login' %}">
                            LOGIN
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</div>